
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-size: 14px;
}

body p, a {
    font-family:'Montserrat', sans-serif;
    color: hsl(212, 21%, 14%);
}

body h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

.main-box {
    /* background-color: red; */
    border-radius: 20px;
    width: 40%;
    height: 60vh;
    margin: 70px auto;
    /* border-radius: 21px; */

    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .box-1 {
    background-color: black;
    width: 100%;
    max-height: 100%;
} */

.box-1 img {
    width: 100%;
    min-height: 100%;
    border-top-left-radius: 20px;
    /* border-end-start-radius: 20px; */
}

.box-2 {
    background: rgb(255, 255, 255);
    width: 100%;
    max-height: 100%;
    padding: 20px;
    border-top-right-radius: 20px;
    border-end-end-radius: 20px;

    display: grid;
    grid-template-rows: 4fr 1fr;
}

.first {
    background-color: rgb(255, 255, 255);
    /* padding: 20px; */
}


.per {
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.gab {
    font-size: 40px;
    margin-bottom: 10px;
}

.floral {
    line-height: 1.5;
    margin-bottom: 16px;
}

.flex-two {
    display: flex;
    align-items: center;
}

.flex-two h1 {
    margin-right: 20px;
    color: hsl(158, 36%, 37%);
}

.flex-two p {
    text-decoration: line-through;
    
}

.second {
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
    min-height: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: hsl(158, 36%, 37%);
    margin-top: 20px;
}

button:hover {
    background-color: hsl(158, 34%, 25%);
}

button a {
    text-decoration: none;
}

button .link {
    color: white;
}

button .fa-sharp {
    margin-right: 10px;
}


/* Responsiveness goes here */


@media (max-width:540px) {

    .main-box {
        /* background-color: red; */
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-end-start-radius: 0;
        border-end-end-radius: 0;
        width: 90%;
        height: 60vh;
        margin: 70px auto;
        border-radius: none;

        display: grid;
        grid-template-columns: 1fr;
    }

    .box-2 {
        background: rgb(255, 255, 255);
        width: 100%;
        max-height: 100%;
        border-end-start-radius: 20px;
        border-end-end-radius: 20px;
        border-top-right-radius: 0;
}

    .box-1 img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 30vh;
    }

    .per {
        margin-bottom: 20px;
        letter-spacing: 2px;
}

    .gab {
        font-size: 32px;
        margin-bottom: 10px;
}

    .floral {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;
}

    button {
        width: 100%;
        min-height: 70%;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 8px;
        background-color: hsl(158, 36%, 37%);
        margin-top: 20px;
}

}